
//NAVIGATION
	.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $white: #FFF;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: rgba(255, 255, 255, 0.9);
  $centered-navigation-color: $dark-gray;
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height:50px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 1.9em;
  $horizontal-bar-mode: $large-screen;



  background-color: $centered-navigation-background;   
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  position: fixed;


  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;


    img {
      max-height: $centered-navigation-height;
      padding: 0.8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;

    text-align: right;
    width: 100%;
    z-index: 9999;
    font-family: 'Abel';
    font-size: 22px;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

 

    @include media($horizontal-bar-mode) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.9;
    padding-bottom: 2px;
  }

}



//FOOTER
.footer {
	$base-spacing: 1em !default;
	$action-color: #FFF !default;
	$medium-screen: 40em !default;
	$large-screen: 53.75em !default;
	$footer-color: #FFF;
	$footer-link-color:  #FFF;
	$footer-disclaimer-color: #FFF;

	background: url('http://localhost:3000/krhefley.github.io/images/footer.jpg');
	background-size: cover;
	padding: ($base-spacing) $gutter;
	width: 100%;


h2 {
	color: #FFF;
	padding-top: 0px;
}


	.footer-links {	
		text-align: center;
		justify-content: center;
		margin-bottom: $base-spacing;
		font-family: 'Abel';
	}

  .fa {
    font-size: 28px;
    font-weight: bold;
  }

	ul {
		flex-basis: 8em;
		flex-shrink: 0;
		margin-bottom: $base-spacing;
		padding: 0;
		margin-top: 0px;
	}

	li {
		line-height: 1em;
		list-style: none;
		text-align: center;
		padding: 2px;
    margin: 10px;
		width: 3%;
		display: inline-block;
	}



	li a {
		color: $yellow !important;
		text-decoration: none;
		font-size: 20px;
	}


	p {
		color: $footer-disclaimer-color;
		font-size: 22px;
    font-weight: bold;
		font-family: 'Abel';
		line-height: 1.5em;
		margin: auto;
		max-width: 35em;
		text-align: center;
	}
}
