
	//INTRODUCTION SECTION
	#home {

		@include outer-container;

		background: url('http://localhost:3000/krhefley.github.io/images/PROFILE_WALL.jpg') no-repeat center center fixed;
		background-attachment: fixed;
		background-size: cover;

		@include frodo {	
			background: none;
			background-color: #333333;
		}

		.mobile-image {
			display: none;

			@include frodo {

				padding-top: 20%;
				margin-bottom: 10%;
				margin-right: auto;
				margin-left: auto;
				display:block;
				height: 300px;
				width: 300px;

				img {
					width: 100%;
				}
			}
				
		}


		#intro-text {
		@include span-columns(5);
		@include shift(6.0);
		margin-top: 4%;
		text-align: center;

		@include frodo {
		@include span-columns(10);
		@include shift(1);
		text-align: center;
		margin-top: 8%;
			
		}



			h1{
		font-size: 40px;
		font-family: 'Rock Salt';
		margin: 0;
		color: $yellow;
		text-align: center;
	    }

			h3 {
				margin-top: 5%;
				color: #FFF;
				font-size: 28px;
				font-family: 'Abel';
				font-weight: bold;
			}

			p {
				color: #FFF;
				font-size: 28px;
				font-family: 'Abel';
				margin-top: 0px;
				font-weight: bold;
			}


		}


		.button-container {
			@include span-columns(12);
			text-align: center;
			margin-top: 20%;

		a {
			display: inline-block;
			position: absolute;
			bottom: 5%;
			margin-left: -1%;

			@include frodo {
				display: none;
			}
			
		

		.fa, .fa-chevron-down {
			background-color: transparent;
			font-size: 40px;
			color: $yellow;
		}

		


		}

	}
	
}

//work
	#work {
		@include outer-container;
		background-color: $dark-gray;
		padding-bottom: 50px;
		padding-top: 60px;

	  h2 {
	  	padding-top: 0px;
	  	color: lighten($yellow, 10%);
	  }

	  .projects-container {
	  	@include span-columns(5);
	  	@include shift(1);
	    margin-right: 1%;
	  	@include frodo {
    	@include span-columns(10);
    	}

    	&:last-child {
    margin-right: 1%;
    @include shift(0);

    @include frodo {
    	@include shift(1);
    	}
}
	  

	    .projects {
		   	background-color: #FFF;
			max-height: 200px;
			margin-top: 10px;
			border-radius: 15px;
			text-decoration: none;
			margin-right: 5px;




		h4{
		position: relative;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 5px;
		margin-right: 5px;
		padding:40px;
		font-family: 'Abel';
		background-color: #FFF;
		width: 100%;
		text-align: center;
		font-size: 40px;
		color: $dark-gray;
		border: 1px;
		border-radius: 10px;
		display: block;
		transition: all 0.2s ease-in-out;	
		&:hover {
				background-color: transparentize($yellow, 0.1)
			}

	}  

				}
			}

		.flex-boxes {
			$base-border-radius: 3px !default;
			$base-background-color: white !default;
			$dark-gray: #333 !default;
			$light-gray: #DDD !default;
			$base-font-color: $dark-gray !default;
			$flex-box-border-color: $light-gray;
			$flex-box-border: 1px solid $flex-box-border-color;
			$flex-box-gutter: 0.4em;
			$flex-box-width: 30em;


			@include clearfix;
			align-items: stretch;
			clear: both;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;




			#desert-gypsy {
				background: url("http://localhost:3000/krhefley.github.io/images/desertgypsysite.png");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;

			
			}

			#massage {

				background: url("http://localhost:3000/krhefley.github.io/images/mandmmassagestudio.png");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				


			}

			#castironed {

				background: url("http://localhost:3000/krhefley.github.io/images/castironedsite.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				

			}

			#kiyik {
				background: url("http://localhost:3000/krhefley.github.io/images/kiyiksite.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}




		

	.flex-box {
	align-self: stretch;
	display: block;
	flex: 2 1 30em;
	min-height:400px;
	position: relative;
	margin: $flex-box-gutter;
	padding: 2em 2em 3em 2em;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border: 1px solid transparent;
	border-radius: 15px;



	p {
    visibility: hidden;
    margin-top: 100px;
    color: $yellow;
	background-color: transparentize($dark-gray, 0.1);
	font-size: 30px;
	width: 100%;
	font-family: 'Rock Salt';
	
	}


	 &:hover {
	 	p {
	 		visibility: visible;
	 	}
	 }



	.flex-title {
		color: #FFF;
		font-size: 2.5em;
	}



	}
}

}








	
