.active {
	a {color: $yellow !important;}
}
	

	//INTRODUCTION SECTION

#home {
 @include outer-container;
 background-color: #000000;
padding-top: 50px;

 h1 {
margin-bottom: 0px;

@include legolas {
  padding-top: 30%;
}

@include sauron {
  padding-top: 15%;
}


 }

 h3 {
 @include span-columns(5);
 @include shift (5);
 color: $teal;
 font-family: 'Bilbo';
 font-weight: bold;
 font-size: 35px;

 @include frodo {
  @include span-columns(12);
  @include shift(0);
  text-align: center;
  padding-bottom: 40px;
 }

 @include legolas {
 @include span-columns(12);
 @include shift(0);
 text-align: center;


 }

 }

}

#about {
	@include outer-container;
	background: $light-gray;
  padding-top: 50px;

  @include sauron {
  padding-top: 15%;
}

 #picture {
 	@include span-columns(3);
 	@include shift (1);
 	padding-bottom: 20px;
  padding-top: 60px;


  @include frodo {
    @include span-columns(8);
    @include shift(2);
    }

  @include legolas {
    @include span-columns(8);
    @include shift(2);
}
 	img {
 		width: 100%;
 		height: 100%;

 	
 	}
 }


 #about-me-text {
@include span-columns(6);
@include shift (1);
padding-top: 60px;

 @include frodo {
 		@include span-columns(10);
 		@include shift(1);
 		text-align: center;
    padding-top: 0px;
  }

 	@include legolas {
 		@include span-columns(10);
 		@include shift(1);
 		text-align: center;
    padding-top: 0px;
 	}
 
 p {  
  font-size: 22px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $dark-gray;
  margin-top: 0px;

   @include frodo {
 		text-align: center;
 	}

 	@include legolas {
 		text-align: center;
    padding-bottom: 0px;
 	}

 
 }
}



.quote {
 	@include span-columns(10);
 	@include shift(1);
 	text-align: center;

   @include legolas {
    padding-bottom: 100px;
  }

 
}

}


#process {
@include outer-container;
background: $white;
padding-top: 50px;


  @include legolas {
  padding-top: 20%;
}

  @include sauron {
  padding-top: 10%;
}

h2 {
	margin-bottom: 0px;
}

.process-paragraph {
	@include span-columns(10);
	@include shift(1);
}

 .list {
 	@include span-columns(12);
 	padding-left: 40px;
 	padding-right: 40px; 
 	margin-top: 0px; 

  @include legolas {
    padding-bottom: 100px;
  }
   @include frodo {
    padding-bottom: 40px;
  }
 	
 
 }

 .process-item {
 	@include span-columns(4);
 	text-align: center;

 	 @include frodo {
 	 @include span-columns(12);	
 	 }

 	 @include legolas {
 	 @include span-columns(12);	
 	 }
 	  .fa {
 	font-size: 50px;
 	color: $teal;
 }
 }



}



#work{
@include outer-container;
background: $light-gray;
padding-top: 50px;

 @include sauron {
  padding-top: 12%;
}

h2 {
	margin-bottom: 0px;
  margin-top: 0px;

   @include sauron {
  padding-bottom: 50px;
}
 }



  p {
     	@include span-columns(8);
     	@include shift(2);
     }



 .list {
 	@include span-columns(12);
  padding-bottom: 50px;
 

 	@include frodo {
     	padding-bottom: 120px;
     	padding-left: 0px;
     	padding-right: 0px;
     	
     }

      @include legolas{
     	padding-bottom: 100px;
     	
     }
 
 }

 .work-item {
 	@include span-columns(3);
 	text-align: center;
 	color: $yellow;
 	margin-bottom: 25px;
 	
 	 @include frodo {
 	 @include span-columns(12);
 	 margin-bottom: 40px;

 	 }
 	 @include legolas {
 	 @include span-columns(6);	
 	 margin-right: 0px;
 	 margin-bottom: 150px;
 	 }

 	 @include treebeard {
 	 	@include span-columns(6);	
 	 margin-right: 0px;
 	 margin-bottom: 40px;

 	 }

 	 .site-image {
 	 	width: 300px;
 	 	height: 200px;
 	 	margin-right: auto;
 	 	margin-left:auto;

 	 	&:hover {
 	 		img {border-color: $yellow;
 	 			cursor: pointer;
 	 		}
 	 	}

 	 	img {
 	 		width: 100%;
 	 		height: auto;
 	 		

 	 	}
 	 }

 }

 .fa {
 	font-size: 50px;
 	color: $white;
 }

}




 #skills{
@include outer-container;
background: $white;
padding-top: 50px;

 @include sauron {
  padding-top: 12%;
}


h2 {
margin-bottom: 0px;
 
 @include legolas {
	margin-bottom: 40px;
  }
}

.buttons {
@include span-columns(12);
text-align: center;

@include frodo {
  padding-bottom: 60px;
}


.skills-button {
	border: none !important;
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
    font-family: 'Oswald';
    font-weight: bold;
   background-color: $yellow;
   margin-right: 20px;

   @include frodo {
   	@include span-columns(8);
   	@include shift(2);
	   margin-top: 20px;

}

   &:last-child {
   	padding-right: 22px;
   	padding-left: 22px;
   }

    &:hover {
    	background-color: $dark-gray;
    	border-color: $light-gray;

    	.button-a{
    		color: $light-gray !important;
    	}
    }

   .button-a{
   	text-decoration: none;
   	color: $dark-gray !important;

   }

}
}
p {
	color: $dark-gray;
	@include shift(2);
	@include span-columns(8);
}


}
 


#connect{	
	background: #000;
  padding-top: 80px;

   @include sauron {
  padding-top: 18%;
}

	
	h2 {
		color: $teal;
		margin-bottom: 0px;
    margin-top: 0px;

    @include legolas {
      padding-top: 200px;
    }

	}

	p{  @include span-columns(8);
		@include shift(2);
		color: $light-gray;
	}

	.icons {
		@include span-columns(12);
		text-align: center;
    margin-top: 20px;
   margin-bottom: 20px;
   background-color: #000;

   @include frodo {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
   }

		.fa {
		color: $yellow;
		margin-right:15px;
		margin-left: 15px;
		font-size: 50px;

		&:hover {
			color: $teal;
			cursor: pointer;
		}

	 }
	}

  

	
}






	
	




	
