	//fonts

	
	@font-face {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
	}


	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Raleway/Raleway-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Damion';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Damion/Damion-Regular.ttf') format('truetype');
	}


	@font-face {
		font-family: 'Bilbo';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Bilbo/Bilbo-Regular.ttf') format('truetype');
	}


	@font-face {
		font-family: 'Homemade Apple';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Homemade_Apple/HomemadeApple.ttf') format('truetype');
	}

	@font-face {
		font-family: 'La Belle Aurore';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/La_Belle_Aurore/LaBelleAurore.ttf') format('truetype');
	}













