	//fonts
	@font-face {
		font-family: 'Amatic SC';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
	}


	@font-face {
		font-family: 'Pacifico';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Arimo';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Arimo/Arimo-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Fjalla One';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Bungee Shade';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Monoton';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Monoton/Monoton-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Abel';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Abel/Abel-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Rock Salt';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Rock_Salt/RockSalt.ttf') format('truetype');
	}














