	//fonts

	@font-face {
		font-family: 'Abel';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Abel/Abel-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Rock Salt';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Rock_Salt/RockSalt.ttf') format('truetype');
	}














