@import 'bourbon/bourbon';
@import "neat/neat";
@import "_base";
@import "_navfoot";
@import "_section";

#triangle-1 {
	visibility: hidden;
}
#triangle-2 {
	visibility: hidden;
}
#triangle-3 {
	visibility: hidden;
}