	@import "bourbon/_bourbon";
	@import "neat/_neat";
	@import "base";
	@import "typography";
	@import "navfoot";
	@import "section";


   //button
   .back {
   	width: 10%;
   	text-align: center;
   	margin-right: auto;
   	margin-left: auto;
   	float: none;
   	border: 2px solid $dark-gray;
    border-radius: 10px;
   	font-size: 28px;
   	font-family: 'Oswald';
   	font-weight: bold;
   	margin-top: 40px;
   margin-bottom: 40px;
   display: block;
   background-color: transparent;

   @include frodo {
   	width: 40%;
   }

   &:hover {
   	background-color: $yellow;
    text-decoration: none; 
    border-color: $yellow;
   }

   

   @include frodo {
    width: 40%;
   }

 	a{
 		text-decoration: none;
    color: $dark-gray;

 &:focus, &:active, &:visited {
 color: $dark-gray;
 text-decoration: none;
 	}
 }

}

 .launch {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    width: 40% !important;
    border: 2px solid $dark-gray;
    border-radius: 10px;
    font-size: 28px;
    font-family: 'Oswald';
    font-weight: bold;
    margin-top: 40px;
   margin-bottom: 40px;
   display: block;
   background-color: transparent;
   @include frodo {
    width: 40%;
   }

   &:hover {
    background-color: $yellow;
    text-decoration: none; 
    border-color: $yellow;
   }

   

   @include frodo {
    width: 40%;
   }

  a{
    text-decoration: none;
    color: $dark-gray;

 &:focus, &:active, &:visited {
 color: $dark-gray;
 text-decoration: none;
  }
 }
}


    //boxes

    .content {
    	@include outer-container;
    	@include span-columns(12);

    }

    .box {
    	@include span-columns(6);
    	color: $dark-gray;
    	text-align: center;
    	background-color: transparent;
    	margin-top: 6%;    	
    	padding: 30px;
    	font-family: 'Raleway';
      font-size: 22px;
    	border: 1px solid transparent;
    	border-radius: 15px;

    	
    	@include frodo {
    		@include span-columns(12);
    		@include shift(0);
    		margin-right: 2%;
    	}

      @include legolas {
        @include span-columns(12);
       } 

    
  

    }



    .content {
    	@include outer-container;
    	@include span-columns(12);


    .mockups {
    	@include span-columns(6);
    	margin-right: 0px;
    	text-align: center;
    	margin-top: 10px;

    	img {
 			width: 100%;
 			margin: 0px;
    	}

      @include legolas {
        @include span-columns(12);
        padding-top: 20px;
      }

    	@include frodo {
    		@include span-columns(12);
        padding-top: 50px;
    	}
    }

     .about {
    	@include span-columns(12);
    	float: none;
    	display: inline-block;
    	margin-top: 15px;
    	margin-bottom: 20px;

    	img {
    		width: 100%;
    	}
    }

}

  
	












