html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Stellar';
  src: url("http://ricayhefley.com/css/typography/Stellar-light.otf"); }

html,
body {
  margin: 0;
  padding: 0;
  background: #fff; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  section:last-child {
    margin-right: 0; }

::selection {
  background: #00b7be;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #00b7be;
  /* Gecko Browsers */ }

.heading {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #FFF;
  margin-top: 3%; }
  .heading:last-child {
    margin-right: 0; }

h2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #FFF;
  font-size: 60px;
  font-family: 'Fjalla One'; }
  h2:last-child {
    margin-right: 0; }

h3 {
  color: #333;
  font-family: 'Fjalla one';
  font-weight: bold;
  font-size: 30px; }

p {
  font-size: 20px;
  color: #333;
  font-family: 'Stellar'; }

button {
  padding: 20px 25px;
  background-color: transparent;
  font-family: 'Stellar';
  border: 1px solid #333;
  font-size: 20px;
  -moz-box-shadow: 0 8px 15px #999;
  -webkit-box-shadow: 0 8px 15px #999; }
  button:hover {
    background-color: #00b7be;
    cursor: pointer; }
  button:focus {
    background-color: #00b7be;
    cursor: pointer;
    outline: none; }
  button:active {
    background-color: #00b7be;
    cursor: pointer;
    outline: none; }

.wrapper-loader {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #FFF;
  position: fixed;
  z-index: 999;
  transform-origin: 0 0;
  -webkit-transform: translate3d(0, 0, 0); }

.sk-folding-cube {
  top: 48%;
  left: 48%;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

header.navigation {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  min-height: 60px;
  width: 100%;
  z-index: 999;
  position: fixed; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button .fa {
      font-size: 28px; }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: #FFF; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: transparent;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    transition: 0.5s; }
    @media (min-width: 480px) and (max-width: 767px) {
      header.navigation ul li.nav-link {
        background: rgba(0, 0, 0, 0.9); } }
    @media (min-width: 320px) and (max-width: 479px) {
      header.navigation ul li.nav-link {
        background: rgba(0, 0, 0, 0.9); } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none;
      font-family: 'Stellar';
      font-size: 18px; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: #FFF; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }

.footer-2 {
  background: #333;
  display: inline-block;
  padding: 1.5em;
  width: 100%;
  bottom: 0;
  margin-top: -5px;
  margin-bottom: -5px; }
  .footer-2 .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-bottom: 0;
        margin-left: 1em; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-family: 'Stellar'; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  .footer-2 .footer-secondary-links {
    font-family: 'Stellar';
    color: rgba(255, 255, 255, 0.4); }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links {
        float: right; } }
    .footer-2 .footer-secondary-links li {
      font-size: 0.8em; }
    .footer-2 .footer-secondary-links ul.footer-social {
      margin: 1em 0 0 0; }
      @media screen and (min-width: 53.75em) {
        .footer-2 .footer-secondary-links ul.footer-social {
          float: right;
          margin-top: 0; } }
      .footer-2 .footer-secondary-links ul.footer-social li {
        float: left;
        font-size: 1em;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em; }
        .footer-2 .footer-secondary-links ul.footer-social li:last-child {
          padding-right: 0; }
      .footer-2 .footer-secondary-links ul.footer-social img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px; }
        .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
          opacity: 1; }
  .footer-2 .wrapper-for-content-outside-of-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em; }
  .footer-2 html, .footer-2 body {
    height: 100%; }
  .footer-2 .wrapper-for-content-outside-of-footer::after {
    content: "";
    display: block; }
  .footer-2 .footer-2, .footer-2 .wrapper-for-content-outside-of-footer::after {
    height: 17em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-2, .footer-2 .wrapper-for-content-outside-of-footer::after {
        height: 4em; } }

#home {
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4)), url("http://ricayhefley.com/images/stars.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 2px 20px 59px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 2px 20px 59px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 20px 59px 1px rgba(0, 0, 0, 0.33); }
  #home #triangle-1 {
    visibility: hidden; }
  #home #triangle-2 {
    visibility: hidden; }
  #home #triangle-3 {
    visibility: hidden; }
  #home #triangles {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: center;
    height: 40%;
    margin-top: 40px; }
    #home #triangles:last-child {
      margin-right: 0; }
    #home #triangles svg {
      margin-bottom: 5%;
      width: 100%; }

#services {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #FFF;
  padding-top: 70px; }
  #services:last-child {
    margin-right: 0; }
  @media (min-width: 320px) and (max-width: 479px) {
    #services {
      padding-top: 0; } }
  #services .services {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    margin-left: 4.2649%; }
    #services .services:last-child {
      margin-right: 0; }
    #services .services .service-description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 400px;
      text-align: center;
      background-color: #FFF;
      padding: 25px 20px 25px 20px;
      border: 3px solid #00b7be;
      -moz-box-shadow: 0 2px 5px #999;
      -webkit-box-shadow: 0 2px 5px #999; }
      #services .services .service-description:last-child {
        margin-right: 0; }
      @media (min-width: 480px) and (max-width: 767px) {
        #services .services .service-description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-top: 10px; }
          #services .services .service-description:last-child {
            margin-right: 0; } }
      @media (min-width: 320px) and (max-width: 479px) {
        #services .services .service-description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-top: 10px; }
          #services .services .service-description:last-child {
            margin-right: 0; } }
      @media (min-width: 768px) and (max-width: 1223px) {
        #services .services .service-description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%;
          margin-top: 20px; }
          #services .services .service-description:last-child {
            margin-right: 0; } }
      #services .services .service-description .fa {
        color: #00b7be;
        font-size: 28px; }

@media (min-width: 320px) and (max-width: 479px) {
  #work p {
    font-size: 18px; } }

#about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #about:last-child {
    margin-right: 0; }
  #about .img-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #about .img-container:last-child {
      margin-right: 0; }
    #about .img-container img {
      width: 100%;
      height: auto; }
    @media (min-width: 320px) and (max-width: 479px) {
      #about .img-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #about .img-container:last-child {
          margin-right: 0; } }
    @media (min-width: 480px) and (max-width: 767px) {
      #about .img-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #about .img-container:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1223px) {
      #about .img-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #about .img-container:last-child {
          margin-right: 0; } }
  #about .text-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: center;
    padding-top: 20px; }
    #about .text-box:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 479px) {
      #about .text-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        margin-top: 15px; }
        #about .text-box:last-child {
          margin-right: 0; } }
    @media (min-width: 480px) and (max-width: 767px) {
      #about .text-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        margin-top: 15px; }
        #about .text-box:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1223px) {
      #about .text-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        margin-top: 20px; }
        #about .text-box:last-child {
          margin-right: 0; } }
    #about .text-box .icons {
      margin-bottom: 20px; }
    #about .text-box .fa {
      font-size: 30px;
      color: #333;
      margin: 8px; }
      #about .text-box .fa:hover {
        color: #00b7be; }

/*Slideshow CSS -codrops*/
.slideshow {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px; }

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: #ddd;
  color: #333; }

.no-js .slides {
  height: auto; }

.slides > li {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  perspective: 1600px; }

.no-js .slides > li {
  position: relative;
  visibility: visible; }

.slideshow > nav {
  text-align: center;
  margin-top: 20px; }

.slideshow > nav span {
  display: inline-block;
  width: 60px;
  height: 25px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  background-color: #ddd;
  cursor: pointer;
  margin: 0 3px;
  transition: background-color 0.2s; }

.slideshow > nav span:hover {
  background-color: #333; }

.slideshow > nav span.current {
  background-color: #aaa; }

.description {
  width: 50%;
  padding: 2em 4em;
  font-size: 1.5em;
  position: relative;
  z-index: 1000;
  opacity: 0; }

.no-js .description {
  opacity: 1; }

.description h2 {
  font-size: 200%;
  color: #333; }

.tiltview {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 50%;
  transform-style: preserve-3d;
  transform: translateY(-50%) rotateX(60deg) rotateZ(35deg); }

.tiltview a {
  outline: 1px solid transparent; }

.tiltview a,
.tiltview a img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.tiltview a:first-child {
  margin-bottom: 30px; }

.tiltview.row a {
  width: 48%;
  width: calc(50% - 15px);
  margin: 0; }

.tiltview.row a:nth-child(2) {
  left: 50%;
  left: calc(50% + 15px);
  position: absolute;
  top: 0; }

/* Show/Hide */
.slides > li.current,
.slides > li.show {
  visibility: visible; }

.description {
  transition: opacity 0.75s; }

.current .description,
.show .description {
  opacity: 1; }

.hide .description {
  opacity: 0; }

/***********************/
/* Move up */
/***********************/
.hide[data-effect-out="moveUpOut"] .tiltview a {
  animation: moveUpOut 1.5s both; }

.hide[data-effect-out="moveUpOut"] .tiltview a:nth-child(2) {
  animation-delay: 0.25s; }

@keyframes moveUpOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateZ(-30px); }
  100% {
    transform: translateZ(3000px); } }

.show[data-effect-in="moveUpIn"] .tiltview a {
  animation: moveUpIn 1.5s 0.5s both; }

.show[data-effect-in="moveUpIn"] .tiltview a:nth-child(2) {
  animation-delay: 0.75s; }

@keyframes moveUpIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateZ(-3000px); }
  75% {
    transform: translateZ(30px); }
  100% {
    transform: translateZ(0); } }

/***********************/
/* Move down */
/***********************/
.hide[data-effect-out="moveDownOut"] .tiltview a {
  animation: moveDownOut 1.5s both; }

.hide[data-effect-out="moveDownOut"] .tiltview a:nth-child(2) {
  animation-delay: 0.25s; }

@keyframes moveDownOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateZ(30px); }
  100% {
    transform: translateZ(-3000px); } }

.show[data-effect-in="moveDownIn"] .tiltview a {
  animation: moveDownIn 1.5s 0.5s both; }

.show[data-effect-in="moveDownIn"] .tiltview a:nth-child(2) {
  animation-delay: 0.75s; }

@keyframes moveDownIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateZ(3000px); }
  75% {
    transform: translateZ(-30px); }
  100% {
    transform: translateZ(0); } }

/***********************/
/* Slide up */
/***********************/
.hide[data-effect-out="slideUpOut"] .tiltview a {
  animation: slideUpOut 1.5s both; }

.hide[data-effect-out="slideUpOut"] .tiltview a:nth-child(2) {
  animation-delay: 0.25s; }

@keyframes slideUpOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateY(30px); }
  100% {
    transform: translateY(-3000px); } }

.show[data-effect-in="slideUpIn"] .tiltview a {
  animation: slideUpIn 1.5s 0.5s both; }

.show[data-effect-in="slideUpIn"] .tiltview a:nth-child(2) {
  animation-delay: 0.75s; }

@keyframes slideUpIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateY(3000px); }
  75% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0); } }

/***********************/
/* Slide down */
/***********************/
.hide[data-effect-out="slideDownOut"] .tiltview a {
  animation: slideDownOut 1.5s both; }

.hide[data-effect-out="slideDownOut"] .tiltview.row a:nth-child(2),
.hide[data-effect-out="slideDownOut"] .tiltview.col a:first-child {
  animation-delay: 0.25s; }

@keyframes slideDownOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateY(-30px); }
  100% {
    transform: translateY(3000px); } }

.show[data-effect-in="slideDownIn"] .tiltview a {
  animation: slideDownIn 1.5s 0.5s both; }

.show[data-effect-in="slideDownIn"] .tiltview.row a:nth-child(2),
.show[data-effect-in="slideDownIn"] .tiltview.col a:first-child {
  animation-delay: 0.75s; }

@keyframes slideDownIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateY(-3000px); }
  75% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0); } }

/***********************/
/* Slide left */
/***********************/
.hide[data-effect-out="slideLeftOut"] .tiltview a {
  animation: slideLeftOut 1.5s both; }

.hide[data-effect-out="slideLeftOut"] .tiltview a:nth-child(2) {
  animation-delay: 0.25s; }

@keyframes slideLeftOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(30px); }
  100% {
    transform: translateX(-5000px); } }

.show[data-effect-in="slideLeftIn"] .tiltview a {
  animation: slideLeftIn 1.5s 0.5s both; }

.show[data-effect-in="slideLeftIn"] .tiltview a:nth-child(2) {
  animation-delay: 0.75s; }

@keyframes slideLeftIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(3000px); }
  75% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(0); } }

/***********************/
/* Slide right */
/***********************/
.hide[data-effect-out="slideRightOut"] .tiltview a {
  animation: slideRightOut 1.5s both; }

.hide[data-effect-out="slideRightOut"] .tiltview.col a:nth-child(2),
.hide[data-effect-out="slideRightOut"] .tiltview.row a:first-child {
  animation-delay: 0.25s; }

@keyframes slideRightOut {
  25% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(-30px); }
  100% {
    transform: translateX(3000px); } }

.show[data-effect-in="slideRightIn"] .tiltview a {
  animation: slideRightIn 1.5s 0.5s both; }

.show[data-effect-in="slideRightIn"] .tiltview.col a:nth-child(2),
.show[data-effect-in="slideRightIn"] .tiltview.row a:first-child {
  animation-delay: 0.75s; }

@keyframes slideRightIn {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(-5000px); }
  75% {
    transform: translateX(30px); }
  100% {
    transform: translateX(0); } }

/* Fallback for no 3D Transforms and no preserve-3d */
.no-csstransformspreserve3d .show .tiltview a,
.no-csstransformspreserve3d .hide .tiltview a,
.no-csstransforms3d .show .tiltview a,
.no-csstransforms3d .hide .tiltview a {
  animation: none !important; }

.no-csstransforms3d .tiltview.col {
  top: -50%; }

.no-csstransforms3d .tiltview.row {
  top: 20px; }

@media (min-width: 768px) and (max-width: 1223px) {
  .slides {
    height: 90vh; }
  .description,
  .tiltview {
    width: 100%; }
  .tiltview.col,
  .tiltview.row {
    top: 30%; }
  .tiltview {
    left: 0;
    opacity: 0.3;
    pointer-events: none; } }

@media (min-width: 320px) and (max-width: 479px) {
  .slides {
    height: 90vh; }
  .description {
    font-size: 1.1em; }
  .tiltview {
    left: 0;
    opacity: 0.3;
    pointer-events: none; }
  .tiltview.col,
  .tiltview.row {
    top: 30%; }
  .slideshow > nav span {
    width: 20px;
    height: 40px;
    margin: 0 10px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .slides {
    height: 90vh; }
  .tiltview {
    left: 0;
    opacity: 0.3;
    pointer-events: none; }
  .tiltview.col,
  .tiltview.row {
    top: 30%; }
  .description {
    font-size: 1em;
    padding: 1.4em; }
  .no-csstransforms3d .tiltview.col,
  .no-csstransforms3d .tiltview.row {
    top: 30%; } }
