html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

section {
  min-height: 100vh;
  width: 100vw; }

.container {
  min-height: 100%;
  position: relative; }

h1 {
  text-align: center;
  color: #FFF;
  font-size: 90px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    h1 {
      font-size: 70px; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    h1 {
      padding-top: 20%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    h1 {
      padding-top: 11%; } }
  @media (min-width: 1281px) {
    h1 {
      padding-top: 15%; } }

h2 {
  text-align: center;
  color: #333333;
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  padding-top: 50px;
  margin-bottom: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    h2 {
      font-size: 50px; } }

h3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 42.64902%;
  text-align: center;
  font-family: 'Bilbo', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #00b7be;
  font-weight: bold;
  font-size: 35px; }
  h3:last-child {
    margin-right: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    h3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      text-align: center;
      padding-bottom: 40px; }
      h3:last-child {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    h3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      text-align: center; }
      h3:last-child {
        margin-right: 0; } }

h4 {
  text-align: center;
  color: #333333;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  margin-top: 0; }

p {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 0; }

blockquote {
  text-align: center;
  color: #00b7be;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bilbo', cursive; }

header.navigation {
  background-color: #000;
  border-bottom: 1px solid black;
  min-height: 60px;
  width: 100%;
  z-index: 999;
  position: fixed; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: #00b7be;
    font-family: 'Oswald', sans-serif;
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: #F5D04C; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: right; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #000;
    display: block;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media (min-width: 320px) and (max-width: 767px) {
      header.navigation ul li.nav-link {
        background: #333; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: #00b7be;
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: #F5D04C; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid #F5D04C;
    padding-bottom: 3px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #000; }
  @media (min-width: 320px) and (max-width: 767px) {
    .footer {
      display: none; } }
  .footer p {
    padding-top: 20px; }

.home {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  padding-top: 50px; }
  .home::after {
    clear: both;
    content: "";
    display: block; }

.about {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background: #ececec;
  padding-top: 50px; }
  .about::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 1281px) {
    .about {
      padding-top: 15%; } }
  .about .picture {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 8.5298%;
    padding-bottom: 20px;
    padding-top: 60px; }
    .about .picture:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .about .picture {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .about .picture:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .about .picture {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .about .picture:last-child {
          margin-right: 0; } }
    .about .picture img {
      width: 100%;
      height: 100%; }
  .about .text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 8.5298%;
    padding-top: 60px; }
    .about .text:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .about .text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        text-align: center;
        padding-top: 0; }
        .about .text:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .about .text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        text-align: center;
        padding-top: 0; }
        .about .text:last-child {
          margin-right: 0; } }
    .about .text p {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 0; }
      @media (min-width: 320px) and (max-width: 767px) {
        .about .text p {
          text-align: center; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .about .text p {
          text-align: center;
          padding-bottom: 0; } }
  .about .quote {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: center; }
    .about .quote:last-child {
      margin-right: 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .about .quote {
        padding-bottom: 100px; } }

.process {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  padding-top: 50px; }
  .process::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .process {
      padding-top: 20%; } }
  @media (min-width: 1281px) {
    .process {
      padding-top: 10%; } }
  .process .process-paragraph {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .process .process-paragraph:last-child {
      margin-right: 0; }
  .process .list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0; }
    .process .list:last-child {
      margin-right: 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .process .list {
        padding-bottom: 100px; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .process .list {
        padding-bottom: 40px; } }
  .process .process-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center; }
    .process .process-item:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .process .process-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .process .process-item:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .process .process-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .process .process-item:last-child {
          margin-right: 0; } }
    .process .process-item .fa {
      color: #00b7be;
      font-size: 50px; }

.work {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background: #ececec;
  padding-top: 50px; }
  .work::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 1281px) {
    .work {
      padding-top: 12%; } }
  .work p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .work p:last-child {
      margin-right: 0; }
  .work .list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px; }
    .work .list:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .work .list {
        padding-bottom: 120px;
        padding-left: 0;
        padding-right: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .work .list {
        padding-bottom: 100px; } }
  .work .work-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center;
    color: #F5D04C;
    margin-bottom: 25px; }
    .work .work-item:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .work .work-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 40px; }
        .work .work-item:last-child {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .work .work-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-bottom: 150px;
        margin-right: 0; }
        .work .work-item:last-child {
          margin-right: 0; } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .work .work-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-bottom: 40px;
        margin-right: 0; }
        .work .work-item:last-child {
          margin-right: 0; } }
    .work .work-item .site-image {
      width: 300px;
      height: 200px;
      margin-right: auto;
      margin-left: auto; }
      .work .work-item .site-image:hover img {
        border-color: #F5D04C;
        cursor: pointer; }
      .work .work-item .site-image img {
        width: 100%;
        height: auto; }

.skills {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  padding-top: 50px; }
  .skills::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 1281px) {
    .skills {
      padding-top: 12%; } }
  .skills .buttons {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-top: 40px; }
    .skills .buttons:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .skills .buttons {
        padding-bottom: 60px; } }
    .skills .buttons .skills-button {
      border: none;
      border-radius: 10px;
      padding: 10px;
      font-size: 28px;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      background-color: #F5D04C;
      margin-right: 20px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .skills .buttons .skills-button {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%;
          margin-top: 20px;
          font-size: 20px; }
          .skills .buttons .skills-button:last-child {
            margin-right: 0; } }
      .skills .buttons .skills-button:last-child {
        padding-right: 22px;
        padding-left: 22px; }
      .skills .buttons .skills-button:hover {
        background-color: #333333;
        border-color: #ececec; }
        .skills .buttons .skills-button:hover .button-a {
          color: #ececec; }
      .skills .buttons .skills-button .button-a {
        text-decoration: none;
        color: #333333; }
  .skills p {
    margin-left: 17.05961%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .skills p:last-child {
      margin-right: 0; }

.connect {
  background: #000;
  padding-top: 80px; }
  @media (min-width: 1281px) {
    .connect {
      padding-top: 18%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .connect {
      padding-top: 200px; } }
  .connect .connect-heading {
    color: #00b7be; }
  .connect p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    color: #ececec; }
    .connect p:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .connect p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0; } }
  .connect .icons {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000; }
    .connect .icons:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .connect .icons {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px; } }
    .connect .icons .fa {
      color: #F5D04C;
      margin-right: 15px;
      margin-left: 15px;
      font-size: 50px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .connect .icons .fa {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 10px;
          padding-bottom: 20px;
          font-size: 25px; } }
      .connect .icons .fa:hover {
        color: #00b7be;
        cursor: pointer; }

.back {
  width: 10%;
  text-align: center;
  margin: 40px auto 40px auto;
  float: none;
  border: 2px solid #333333;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  display: block;
  background-color: transparent; }
  @media (min-width: 320px) and (max-width: 767px) {
    .back {
      width: 40%; } }
  .back:hover {
    background-color: #F5D04C;
    text-decoration: none;
    border-color: #F5D04C; }
  .back a {
    text-decoration: none;
    color: #333333; }
    .back a:focus, .back a:active, .back a:visited {
      color: #333333;
      text-decoration: none; }

.launch {
  text-align: center;
  margin: 40px auto 40px auto;
  float: none;
  width: 40%;
  border: 2px solid #333333;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  display: block;
  background-color: transparent; }
  @media (min-width: 320px) and (max-width: 767px) {
    .launch {
      width: 40%; } }
  .launch:hover {
    background-color: #F5D04C;
    text-decoration: none;
    border-color: #F5D04C; }
  @media (min-width: 320px) and (max-width: 767px) {
    .launch {
      width: 40%; } }
  .launch a {
    text-decoration: none;
    color: #333333; }
    .launch a:focus, .launch a:active, .launch a:visited {
      color: #333333;
      text-decoration: none; }

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  color: #333333;
  text-align: center;
  background-color: transparent;
  margin-top: 6%;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  border: 1px solid transparent;
  border-radius: 15px; }
  .box:last-child {
    margin-right: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      margin-right: 2%; }
      .box:last-child {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .box:last-child {
        margin-right: 0; } }

.content {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .content::after {
    clear: both;
    content: "";
    display: block; }
  .content:last-child {
    margin-right: 0; }
  .content .mockups {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: center;
    margin-top: 10px;
    margin-right: 0px; }
    .content .mockups:last-child {
      margin-right: 0; }
    .content .mockups img {
      width: 100%;
      margin: 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .content .mockups {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding-top: 20px; }
        .content .mockups:last-child {
          margin-right: 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .content .mockups {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding-top: 50px; }
        .content .mockups:last-child {
          margin-right: 0; } }
  .content .about {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px; }
    .content .about:last-child {
      margin-right: 0; }
    .content .about img {
      width: 100%; }
