
	//Navigation Menu
	.centered-navigation {
		$base-border-radius: 3px !default;
		$dark-gray: #333 !default;
		$large-screen: 53.75em !default;
		$base-font-color: $dark-gray !default;
		$centered-navigation-padding: 1em;
		$centered-navigation-logo-height: 2em;
		$centered-navigation-background: transparent;
		$centered-navigation-color: $dark-gray;
		$centered-navigation-color-hover: transparentize($base-font-color, 0.3);
		$centered-navigation-height: 60px;
		$centered-navigation-item-padding: 1em;
		$centered-navigation-submenu-padding: 1em;
		$centered-navigation-submenu-width: 12em;
		$centered-navigation-item-nudge: 2.2em;
		$horizontal-bar-mode: $large-screen;

      
		background-color: $centered-navigation-background;
		border-bottom: 1px solid darken($centered-navigation-background, 6%);
		min-height: $centered-navigation-height;
		width: 100%;
		position: fixed;
		z-index: 9999;
  		left: 0;
  		transition: (transform 1s $ease-in-out-quint);



	// Mobile view

	#mobile-menu {
		width: 35px;
		height: 5px;
		margin: 5px 0;
		background-color: #FFF;
	}


	.centered-navigation-mobile-menu {
		color: $centered-navigation-color;
		display: block;
		float: right;
		line-height: $centered-navigation-height;
		margin: 10px 0px 0px 0px;
		padding-right: $centered-navigation-submenu-padding;
		text-decoration: none;
		text-transform: uppercase;

		@include media ($horizontal-bar-mode) {
			display: none;
		}

		&:focus,
		&:hover {
			color: $centered-navigation-color-hover;
		}
	}

	// Nav menu
	.centered-navigation-wrapper {
		@include outer-container;
		@include clearfix;
		position: relative;
		z-index: 999;
	}

	ul.centered-navigation-menu {
		clear: both;
		display: none;
		margin: 0 auto;
		overflow: visible;
		padding: 0;
		-webkit-transform-style: preserve-3d; 
		width: 100%;
		z-index: 99999;

		&.show {
			display: block;
		}

		@include media ($horizontal-bar-mode) {
			display: block;
			text-align: center;
		}
	}

	// The nav items
	.nav-link:first-child {
		@include media($horizontal-bar-mode) {
			margin-left: $centered-navigation-item-nudge;
		}
	}

	ul li.nav-link {
		background: $centered-navigation-background;
		display: block;
		line-height: $centered-navigation-height;
		overflow: hidden;
		padding-right: $centered-navigation-submenu-padding;
		text-align: right;
		width: 100%;
		z-index: 9999;

		a {
			color: $centered-navigation-color;
			display: inline-block;
			outline: none;
			text-decoration: none;
			font-weight: bold;
			font-family: 'Amatic SC';
			font-size: 32px;

			&:focus,
			&:hover {
				color: $centered-navigation-color-hover;
			}
		}

		@include media($horizontal-bar-mode) {
			background: transparent;
			display: inline;
			line-height: $centered-navigation-height;

			a {
				padding-right: $centered-navigation-item-padding;
			}
		}
	}

}


.footer {
	$base-spacing: 2em !default;
	$action-color: $dark-gray !default;
	$medium-screen: 40em !default;
	$large-screen: 53.75em !default;
	$footer-background: $dark-gray;
	$footer-color: white;
	$footer-link-color: transparentize($footer-color, 0.6);
	$footer-disclaimer-color: transparentize($footer-color, 0.6);

	background: url('http://localhost:3000/krhefley.github.io/assets/images/redrockslinear.jpg');
	background-size: cover;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%);
	padding: ($base-spacing) $gutter;
	width: 100%;
h2 {
	color: #FFF;
	padding-top: 0px;
}


	.footer-links {
		;
		text-align: center;
		justify-content: center;
		margin-bottom: $base-spacing;
		font-family: 'Arimo';
	}

	ul {
		flex-basis: 13em;
		flex-shrink: 0;
		margin-bottom: $base-spacing;
		padding: 0;
	}

	li {
		line-height: 1em;
		list-style: none;
		text-align: center;
	}

	li a {
		color: $footer-link-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: transparentize($footer-color, 0);
		}
	}

	li h3 {
		color: $footer-color;
		font-size: 1em;
		margin-bottom: 0.4em;
	}

	hr {
		border: 1px solid transparentize($footer-disclaimer-color, 0.3);
		margin: 0 auto $base-spacing;
		width: 12em;
	}

	p {
		color: $footer-disclaimer-color;
		font-size: 0.9em;
		font-family: 'Arimo';
		line-height: 1.5em;
		margin: auto;
		max-width: 35em;
		text-align: center;
	}
}
