
	//INTRODUCTION SECTION

	#home {

		@include outer-container;
		background: url('Assets/images/PROFILE_WALL.jpg') no-repeat center center fixed;
		background-attachment: fixed;
		background-size: cover;

		@include frodo {	
			background: none;
			background-color: #333333;
		}

		.mobile-image {
			display: none;

			@include frodo {

				padding-top: 20%;
				margin-bottom: 10%;
				margin-right: auto;
				margin-left: auto;
				display:block;
				height: 300px;
				width: 300px;

				img {
					width: 100%;
				}
			}
				
		}


		#intro-text {
		@include span-columns(5);
		@include shift(6.0);
		margin-top: 4%;

		@include frodo {
		@include span-columns(12);
		@include shift(0);
		margin-top: 8%;
			
		}



			h1{
		font-size: 40px;
		font-family: 'Rock Salt';
		margin: 0;
		color: $purple;
		text-align: center;
	    }

			h3 {
				margin-top: 5%;
				color: #FFF;
				font-size: 28px;
				font-family: 'Abel';
				font-weight: bold;
			}

			p {
				color: #FFF;
				font-size: 28px;
				font-family: 'Abel';
				margin-top: 0px;
				font-weight: bold;
			}


		}



	

		.button-container {
			@include span-columns(12);
			text-align: center;
			margin-top: 20%;

		a {
			display: inline-block;
			position: absolute;
			bottom: 5%;
			margin-left: -1%;

			@include frodo {
				display: none;
			}
			
		

		.fa, .fa-chevron-down {
			background-color: transparent;
			font-size: 40px;
			color: $purple;
		}

		


	}

	}
	
}

//skills section
	#skills {
		@include outer-container;
		background-color: lighten($purple, 10%);
		padding-top: 20px;	

		p {
			@include span-columns(10);
			@include shift(1);
		}

		#languages {
			@include span-columns(12);
			text-align: center;
			margin-top: 50px;
			margin-bottom: 100px;
		}

		.icons {
			color: #FFF;
			font-size: 75px;
			text-align: center;
			padding: 30px;
			margin-top: 10px !important;
			border: 1px white;
			border-radius: 100px;

		}

    }



    //About Section
     #about{
	@include outer-container;
	background-color: lighten($purple, 10%);
	padding-top: 60px;
	padding-bottom: 50px;

	h2 {
	
	padding-top: 60px;
    }

	p{
		@include span-columns(10);
			@include shift(1);
			color: #000;
	}

	.icon-container {
		@include span-columns(2);
		margin-top: 40px;
		color: white;
		text-align: center;			

		@include frodo {
			@include span-columns(6);
			margin-right: 0px;

		}

		.random-icons {
			height: 75px;
			width: 75px;
			color: $teal;

		}
	}
}


	
