	//fonts
	@font-face {
		font-family: 'Amatic SC';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
	}


	@font-face {
		font-family: 'Pacifico';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Arimo';
		font-style: normal;
		font-weight: 400;
		src: url('fonts/Arimo/Arimo-Regular.ttf') format('truetype');
	}