@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

head {
  margin-bottom: 10px; }

html {
  min-height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

section {
  width: 100%;
  height: auto; }

h2 {
  font-size: 64px;
  color: #FFF;
  text-align: center;
  font-family: 'Pacifico';
  margin: 0px;
  padding-top: 60px; }

h3 {
  color: #F5D04C;
  font-size: 40px;
  text-align: center;
  font-family: 'Rock Salt';
  margin: 0px; }

h4 {
  font-weight: normal;
  color: #FFF;
  font-size: 25px;
  font-family: 'Arimo';
  margin-top: 10px;
  text-align: center; }

p {
  font-size: 28px;
  color: #FFF;
  font-family: 'Amatic SC';
  text-align: center; }

.hidden {
  display: none; }

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Pacifico/Pacifico-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Arimo/Arimo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Fjalla_One/FjallaOne-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Bungee_Shade/BungeeShade-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Monoton/Monoton-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Abel/Abel-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Rock_Salt/RockSalt.ttf") format("truetype"); }

.centered-navigation {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 50px;
  width: 100%;
  z-index: 9999;
  position: fixed; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 50px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 50px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: #333333;
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 1.9em; } }
  .centered-navigation ul li.nav-link {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    line-height: 50px;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px; }
    .centered-navigation ul li.nav-link a {
      color: #333333;
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.9; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: #333333;
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu,
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 38.46154px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: rgba(247, 247, 247, 0.9);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: rgba(255, 255, 255, 0.9);
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.footer {
  background: url("http://ricayhefley.com/Assets/images/footer.jpg");
  background-size: cover;
  padding: 1em 1.618em;
  width: 100%; }
  .footer h2 {
    color: #FFF;
    padding-top: 0px; }
  .footer .footer-links {
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
    font-family: 'Arimo'; }
  .footer ul {
    flex-basis: 8em;
    flex-shrink: 0;
    margin-bottom: 1em;
    padding: 0;
    margin-top: 0px; }
  .footer li {
    line-height: 1em;
    list-style: none;
    text-align: center;
    padding: 2px;
    width: 3%;
    display: inline-block; }
  .footer li a {
    color: #F5D04C !important;
    text-decoration: none;
    font-size: 20px; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer p {
    color: #FFF;
    font-size: 0.9em;
    font-family: 'Arimo';
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.modal {
  margin-top: 70px; }
  .modal h2 {
    font-size: 35px;
    font-family: 'Pacifico';
    text-align: center;
    color: #F5D04C;
    padding-top: 0px; }
  .modal .link {
    font-size: 24px;
    width: 30%;
    font-weight: bolder;
    color: white;
    font-family: 'Amatic SC';
    padding: 10px;
    background-color: #ffd642;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 320px) and (max-width: 767px) {
      .modal .link {
        width: 100%; } }
  .modal .modalImage {
    width: 53%;
    margin-left: auto;
    margin-right: auto; }
    .modal .modalImage img {
      width: 100%;
      height: auto; }
    @media (min-width: 320px) and (max-width: 767px) {
      .modal .modalImage {
        float: none;
        margin-right: auto;
        margin-left: auto; } }
  .modal a {
    text-decoration: none; }
  .modal p {
    font-family: 'Arimo';
    color: #F5D04C;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 10px; }
  .modal .toolsBoxContainer {
    text-align: center;
    width: 100%;
    margin: 0px;
    display: inline-block; }
  .modal .toolsBox {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    font-family: 'Amatic SC';
    font-weight: 400;
    letter-spacing: 0px;
    background-color: #333333;
    margin: 5px 0px 10px 0px;
    width: 20%;
    text-align: center;
    display: inline-block; }
    @media (min-width: 320px) and (max-width: 767px) {
      .modal .toolsBox {
        width: 40%; } }

#home {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background: url("http://ricayhefley.com/Assets/images/PROFILE_WALL.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover; }
  #home::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 320px) and (max-width: 767px) {
    #home {
      background: none;
      background-color: #333333; } }
  #home .mobile-image {
    display: none; }
    @media (min-width: 320px) and (max-width: 767px) {
      #home .mobile-image {
        padding-top: 20%;
        margin-bottom: 10%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        height: 300px;
        width: 300px; }
        #home .mobile-image img {
          width: 100%; } }
  #home #intro-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 51.17883%;
    margin-top: 4%; }
    #home #intro-text:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      #home #intro-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        margin-top: 8%; }
        #home #intro-text:last-child {
          margin-right: 0; } }
    #home #intro-text h1 {
      font-size: 40px;
      font-family: 'Rock Salt';
      margin: 0;
      color: #F5D04C;
      text-align: center; }
    #home #intro-text h3 {
      margin-top: 5%;
      color: #FFF;
      font-size: 28px;
      font-family: 'Abel';
      font-weight: bold; }
    #home #intro-text p {
      color: #FFF;
      font-size: 28px;
      font-family: 'Abel';
      margin-top: 0px;
      font-weight: bold; }
  #home .button-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-top: 20%; }
    #home .button-container:last-child {
      margin-right: 0; }
    #home .button-container a {
      display: inline-block;
      position: absolute;
      bottom: 5%;
      margin-left: -1%; }
      @media (min-width: 320px) and (max-width: 767px) {
        #home .button-container a {
          display: none; } }
      #home .button-container a .fa, #home .button-container a .fa-chevron-down {
        background-color: transparent;
        font-size: 40px;
        color: #F5D04C; }

#skills {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8dd7c;
  padding-top: 20px; }
  #skills::after {
    clear: both;
    content: "";
    display: block; }
  #skills p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    #skills p:last-child {
      margin-right: 0; }
  #skills #languages {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px; }
    #skills #languages:last-child {
      margin-right: 0; }
  #skills .icons {
    color: #FFF;
    font-size: 75px;
    text-align: center;
    padding: 30px;
    margin-top: 10px !important;
    border: 1px white;
    border-radius: 100px; }

#about {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8dd7c;
  padding-top: 60px;
  padding-bottom: 50px; }
  #about::after {
    clear: both;
    content: "";
    display: block; }
  #about h2 {
    padding-top: 60px; }
  #about p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    color: #000; }
    #about p:last-child {
      margin-right: 0; }
  #about .icon-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-top: 40px;
    color: white;
    text-align: center; }
    #about .icon-container:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      #about .icon-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0px; }
        #about .icon-container:last-child {
          margin-right: 0; } }
    #about .icon-container .random-icons {
      height: 75px;
      width: 75px;
      color: #F5D04C; }

.back {
  width: 8%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border: 2px solid #333333;
  font-size: 28px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block; }
  @media (min-width: 320px) and (max-width: 767px) {
    .back {
      width: 15%; } }
  .back:hover {
    background-color: #F5D04C; }
  .back a {
    text-decoration: none; }

.content {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .content::after {
    clear: both;
    content: "";
    display: block; }
  .content:last-child {
    margin-right: 0; }

.box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 4.2649%;
  color: #333333;
  text-align: center;
  background-color: transparent;
  margin-top: 6%;
  padding: 10px;
  font-family: 'Yanone Kaffeesatz';
  border: 1px solid transparent;
  border-radius: 15px; }
  .box:last-child {
    margin-right: 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      margin-right: 2%; }
      .box:last-child {
        margin-right: 0; } }

.content {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .content::after {
    clear: both;
    content: "";
    display: block; }
  .content:last-child {
    margin-right: 0; }

.mockups {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0px;
  text-align: center;
  margin-top: 10px; }
  .mockups:last-child {
    margin-right: 0; }
  .mockups img {
    width: 100%;
    margin: 0px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .mockups {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .mockups:last-child {
        margin-right: 0; } }

#desertgypsyabout {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: none;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px; }
  #desertgypsyabout:last-child {
    margin-right: 0; }
  #desertgypsyabout img {
    width: 100%; }

button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: transparent; }
  button:last-child {
    margin-right: 0; }

#work {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  padding-bottom: 50px;
  padding-top: 60px; }
  #work::after {
    clear: both;
    content: "";
    display: block; }
  #work h2 {
    padding-top: 0px;
    color: #f8dd7c; }
  #work .projects-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 8.5298%;
    margin-right: 1%; }
    #work .projects-container:last-child {
      margin-right: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      #work .projects-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        #work .projects-container:last-child {
          margin-right: 0; } }
    #work .projects-container:last-child {
      margin-right: 1%;
      margin-left: 0%; }
      @media (min-width: 320px) and (max-width: 767px) {
        #work .projects-container:last-child {
          margin-left: 8.5298%; } }
    #work .projects-container .projects {
      background-color: #FFF;
      max-height: 200px;
      margin-top: 10px;
      border-radius: 15px;
      text-decoration: none;
      margin-right: 5px; }
      #work .projects-container .projects h4 {
        position: relative;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 40px;
        font-family: 'Yanone Kaffeesatz';
        background-color: #FFF;
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: #333333;
        border: 1px;
        border-radius: 10px;
        display: block;
        transition: all 0.2s ease-in-out; }
        #work .projects-container .projects h4:hover {
          background-color: rgba(245, 208, 76, 0.9); }
  #work .flex-boxes {
    align-items: stretch;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    #work .flex-boxes::after {
      clear: both;
      content: "";
      display: block; }
    #work .flex-boxes #desert-gypsy {
      background: url("http://ricayhefley.com/Assets/images/desertgypsysite.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    #work .flex-boxes #massage {
      background: url("http://ricayhefley.com/Assets/images/mandmmassagesite.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    #work .flex-boxes #castironed {
      background: url("http://ricayhefley.com/Assets/images/castironedsite.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #work .flex-boxes #kiyik {
      background: url("http://ricayhefley.com/Assets/images/kiyiksite.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #work .flex-boxes .flex-box {
      align-self: stretch;
      display: block;
      flex: 2 1 30em;
      min-height: 400px;
      position: relative;
      margin: 0.4em;
      padding: 2em 2em 3em 2em;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      border: 1px solid transparent;
      border-radius: 15px; }
      #work .flex-boxes .flex-box p {
        visibility: hidden;
        margin-top: 100px;
        color: #F5D04C;
        background-color: rgba(51, 51, 51, 0.9);
        font-size: 30px;
        width: 100%;
        font-family: 'Rock Salt'; }
      #work .flex-boxes .flex-box:hover p {
        visibility: visible; }
      #work .flex-boxes .flex-box .flex-title {
        color: #FFF;
        font-size: 2.5em; }
