	@import "bourbon/_bourbon";
	@import "neat/_neat";
	@import "base";
	@import "typography";
	@import "modules";
	@import 'modals';
	@import "section";


    .separator {
     height: 200px;
      background: url('assets/images/redrockslinear.jpg') no-repeat center fixed;
	background-size: cover;
	background-attachment: fixed;
    }

  
	//work
	#work {
		@include outer-container;
		background-color: #FFF;
		padding-top: 40px;
		padding-bottom: 50px;

	  h2 {
	  	padding-top: 0px;
	  	color: lighten($purple, 10%);
	  }

		

		#work-title {
			color: $purple;
		}



		.flex-boxes {
			$base-border-radius: 3px !default;
			$base-background-color: white !default;
			$dark-gray: #333 !default;
			$light-gray: #DDD !default;
			$base-font-color: $dark-gray !default;
			$flex-box-border-color: $light-gray;
			$flex-box-border: 1px solid $flex-box-border-color;
			$flex-box-gutter: 0.4em;
			$flex-box-width: 18em;


			@include clearfix;
			align-items: stretch;
			clear: both;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			


			#desert-gypsy {
				background: url("Assets/images/desertgypsy.png");
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%);
				&:hover {
					filter: none;
					-webkit-filter: grayscale(0%);
				}
			}

			#massage {
				background: url("Assets/images/M&Mmassage.png");
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%);
				&:hover {
					filter: none;
					-webkit-filter: grayscale(0%);
				}


			}

			#castironed {
				background: url("Assets/images/castironed.png");
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%);
				&:hover {
					filter: none;
					-webkit-filter: grayscale(0%);
				}

			}

			#kiyik {
				background: url("Assets/images/kiyik.png");
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%);
				&:hover {
					filter: none;
					-webkit-filter: grayscale(0%);
				}
			}

			#tribute {
				background-color: $purple;
				border: 1px solid $purple;

				&:hover {
					background-color: #FFF;
					
					
					.caption-project {
					color: $purple;
					}
			}

		}


			#portfolio {
				background-color: lighten($purple, 5%);
				border: 1px solid $purple;
				&:hover {
					background-color: #FFF;
					
					
					.caption-project {
					color: $purple;
					}

				}
			}


			#quote-machine {
				background-color: lighten($purple, 25%);
				&:hover {
					background-color: #FFF;
					border: 1px solid $purple;
					
					.caption-project {
					color: $purple;
					}
				}
			}

			#weather{
				background-color: darken($light-gray, 30%);
				&:hover {
					background-color: #FFF;
					border: 1px solid $purple;
					
					.caption-project {
					color: $purple;
				}	}
			}

			#wiki{
				background-color: darken($light-gray, 30%);
				&:hover {
					background-color: #FFF;
					border: 1px solid $purple;
					
					.caption-project {
					color: $purple;
					}
				}

			}


			#calc{
				background-color: lighten($purple, 25%);
				&:hover {
					background-color: #FFF;
					border: 1px solid $purple;
					
					.caption-project {
					color: $purple;
					}
				}

			}
			#clock{
				background-color: lighten($purple, 5%);
				&:hover {
					background-color: #FFF;
					border: 1px solid $purple;
					
					.caption-project {
					color: $purple;
					}
				}
			}

			#twitch{
				background-color:  $purple;
				border: 1px solid $purple;
				&:hover {
					background-color: #FFF;
					
					
					.caption-project {
					color: $purple;
					}
				}

			}
		

	.flex-box {
	align-self: stretch;
	display: block;
	flex: 2 1 18em;
	position: relative;
	margin: $flex-box-gutter;
	padding: 2em 2em 3em 2em;
	text-decoration: none;
	transition: all 0.2s ease-in-out;




	.caption {
		visibility: hidden;
		position: relative;
		font-weight: bold;
		margin-top: 0px;
		margin-left: 0px;
		font-family: 'Amatic SC';
		background-color: #FFF;
		width: 100%;
		text-align: center;
		font-size: 40px;
		color: $teal;
		margin-bottom: 40%;
		display: block;
		transition: all 0.2s ease-in-out;
	}



	&:focus,
	&:hover {
		p {
			visibility: visible;


		}
		.caption {
			visibility: visible;
		}


	}  


	.flex-title {
		color: #FFF;
		font-size: 2.5em;
	}

		.caption-project {
		position: relative;
		font-family: 'Amatic SC';
		width: 100%;
		text-align: center;
		font-size: 40px;
		color: #FFF;
		display: block;
		margin: 0px;
		transition: all 0.2s ease-in-out;
	}

	p {
		
		visibility: hidden;
		font-weight: bold;
		font-family: 'Arimo';
		color: #FFF;
		background-color: $teal;
		font-size: 50px;
		margin-top: 20px;
		border-radius: 300px;
		padding-top: 10px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding-left: 30px;
		position: relative;
		display: inline-block;
		transition: all 0.2s ease-in-out;
	}

	}
  }
}












